.md-content-top{
    padding: 30px 0px;
}

.md-content-top img{
    width: 100%;
    height: 400px;
}

#wrapper-md-content-top{
    background: #50e3c2 !important;
}

.md-content-top{
    background: rgba(144, 151, 156, 0.59); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(144, 151, 156, 0.59), rgba(83, 93, 101, 0.93)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(144, 151, 156, 0.59), rgba(83, 93, 101, 0.93)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(144, 151, 156, 0.59), rgba(83, 93, 101, 0.93)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(144, 151, 156, 0.59), rgba(83, 93, 101, 0.93)); /* Standard syntax */
    /* background-image: linear-gradient(to bottom, rgba(144, 151, 156, 0.59), rgba(83, 93, 101, 0.93)); */
    color: white;
}

.md-content .md-right{
    height: 513px;
    position: relative;
}

.md-right__title{
    font-size: 41px;
    font-weight: bold;
    padding: 10px 0px;
}

.md-right__wrapper-percentage{
    padding: 10px 0px;
    font-size: 16px;
}

.md-right__overview{
    padding: 10px 0px;

}

.md-right__general{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

.md-content .md-percentage{
    display:inline-block;
    font-style: normal;
    font-size: 20px;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: #494848;
    text-align: center;
}

.md-right__director{
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
}

.team{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
}

.md-right__director--bottom{
    font-size: 12px;
}

.md-content ul li{
    list-style-type: none;
    display: inline-block;
}

.md-content-elenco, .md-content-datos{
    background: #f4f4f4;
    padding: 30px 0px;
}

.md-content-elenco .wrapper, .md-content-datos .wrapper{ 
    width: 80%;
}

.bold-title{
    padding: 15px 0px;
    font-size: 22px;
    font-weight: bold;
}

.md-list-actors li{
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.md-list-actors img{
    border-radius: 3px 3px 0px 0px;
    height: 90px;
    width: 64px;
}

.md-list-actors div{
    background: white;
    /* padding: 5px; */
    border-radius: 0px 0px 3px 3px ;
    width: 64px;
}

.md-list-actors div p{
    max-width: 64px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 6px;
}

.md-list-actors--name{
    font-weight: bold;
    padding: 5px 5px 0px 5px;
}

.md-list-actors--movie-name{
    padding: 0px 5px 5px 5px;
}

.md-list-datos li{
    padding: 10px 0px 10px 0px;
    width: 45%;
}

.md-list-datos li p{
    padding: 5px 0px 5px 0px;
    font-size: 12px;
}

.md-list-datos li p:first-child{
    font-weight: bold;
}

.mc-content-datos__title--genre, .mc-content-datos__title--keywords, .mc-content-datos__title--video{
    font-size: 12px;
    padding: 15px 0px;
    font-weight: bold;
}

.md-globes li{
    border-radius: 22px;
    background-color: #50e3c2;
    padding: 10px;
    margin: 5px;
    color:  #535d65;
    font-size: 12px;
}
.md-content .video{
    text-align: center;
    padding: 20px 0px;
}

.md-content .video p{
    text-align: left;
}

iframe{
    height: 500px;
    width: 90%;
}

@media screen and (min-width:30.063em){
    /* .md-right{
        height: 400px;
    } */
}

@media screen and (min-width:48.063em){
    .md-content-top img{
        width: 30%;
        height: 449px;
    }

    .md-content .md-right{
        display: inline-block;
        width: 70%;
        vertical-align: top;
        height: 449px;
        padding: 0px 10px;
        box-sizing: border-box;
    }

    .md-list-datos li{
        padding: 40px 0px 40px 0px;
        width: 12%;
    }

    .md-list-actors img{
        height: 278px;
        width: 185px;
    }

    .md-list-actors div{
        width: 185px;
    }

    .md-list-actors div p{
        font-size: 15px;
        max-width: 185px;
    }

    .md-list-actors--name{
        font-weight: bold;
        padding: 10px 10px 0px 10px;
    }
    
    .md-list-actors--movie-name{
        padding: 0px 10px 10px 10px;
    }
}
